# Git
.git
.gitignore

# Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
local_settings.py 

# Data bases
*.sqlite3
*.db

# logs
*.log
logs/

# Files IDE та ОS
.vscode/
.idea/
.project
.pydevproject
.DS_Store
Thumbs.db
collected_sftp_files

# Docker files
Dockerfile
docker-compose.yml 
docker-compose.*.yml

# Tests
tests/
*.test
*.py.test
.pytest_cache/
coverage.*
htmlcov/
.tox/

# Documentation
docs/
README.md
CONTRIBUTING.md

# Another files
build/
dist/
*.egg-info/
pip-wheel-metadata/
.vagrant